@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');

body {
  background-image: url('./assets/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Barlow';
  justify-content: center;
}

.main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 32px;
  min-height: 100vh;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin-bottom: 32px;
}

.center-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.all-cards {
  display: flex;
  justify-content: center;
}